{% extends 'LimeProfilerBundle:Collector:base.html.twig' %}

{% block content %}
<div class="hero-unit">
    <h1>Lime Memory Usage Profiler</h1>
    <p>Function Search</p>
    <div>
        <form action="{{ url }}" method="get">
            <input type="hidden" name="run" value="{{ params.run }}" />
            <input type="hidden" name="wts" value="{{ params.wts }}" />
            <input type="hidden" name="sort" value="{{ params.sort }}" />
            <input type="hidden" name="run1" value="{{ params.run1 }}" />
            <input type="hidden" name="run2" value="{{ params.run2 }}" />
            <input type="hidden" name="source" value="{{ params.source }}" />
            <input type="hidden" name="all" value="{{ params.all }}" />
            <input type="text" name="symbol" value="{{ params.symbol }}" class="span3" />
            <p>
                <button type="submit">Search for Function</button>
            </p>
        </form>
    </div>
</div>
    {{ output|raw }}
{% endblock %}