{% extends "LimeUserBundle:Profile:profile_layout.html.twig" %}

{% block profile_content %}
    <h3>Contact Information</h3>

    {% if user.profile.firstName is defined and user.profile.firstName != null %}
    <b>Name:</b> {{ user.profile.firstName }} {{ user.profile.lastName }}<br />
    {% endif %}{% if user.username is defined and user.username != null %}
    <b>Username:</b> {{ user.username }}<br />
    {% endif %}
    <b>Email:</b> {{ user.email }}<br>
    <b>Phone Number:</b> {{ user.profile.phoneNumber }}<br><br>
    {% if user.profile.address is defined and user.profile.address != null%}
    <b>Address:</b>
    <address>
    {{ user.profile.address }}
    {% if user.profile.city is defined and user.profile.city != null %}{{ user.profile.city }},{% endif %}{% if user.profile.state is defined and user.profile.state != null %}{{ user.profile.state }} {% endif %}{% if user.profile.zip is defined and user.profile.zip != null %}{{ user.profile.zip }}{% endif %}
    </address>
    {% endif %}
{% endblock %}