{% extends 'LimeAdminBundle::layout.html.twig' %}

{% block admin_content %}
<span>
    {{ message }}
    {{ form_errors(form) }}
</span>
<table class="table table-bordered table-striped">
    {% for config in configs %}
        <tr>
            <td>
                {{ config.name }}
            </td>
            <td>
                {{ config.description }}
            </td>
            <td>
                <form action="{{ path('lime.admin.config.index') }}" method="post" {{ form_enctype(form) }}>
                    <input type="text" id="form[_value]" name="form[value]" value="{{ config.value }}" />
                    <input type="hidden" id="form_name" name="form[name]" value="{{ config.name }}" />
                    <input type="hidden" id="form__token" name="form[_token]" value="{{ token }}">
                    <input type="submit" value="Update" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}